<section class="contact" id="contact">

    <h1 class="heading">Add menu</h1>

    <div class="row">

        <form action="/add" method="post">

            <div class="inputBox">
                <span class="fas fa-user"></span>
                <input name="name" type="text" placeholder="name">
            </div>

            <div class="inputBox">
                <span class="fas fa-envelope"></span>
                <input name="price" type="number" placeholder="Enter price">
            </div>

            <input type="submit" value="Add" class="btn">

        </form>

    </div>

</section>