 <!-- Footer -->

 <section class="footer">

    <div class="box-container">

        <div class="box">
            <img src="images/footer-1.png" alt="">
            <h3>address</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quia aliquid velit quis et adipisci, doloremque officia</p>

        </div>

        <div class="box">
            <img src="images/footer-2.png" alt="">
            <h3>E-mail</h3>
            <a href="#" class="link">roha@gmail.com</a>

        </div>

        <div class="box">
            <img src="images/footer-3.png" alt="">
            <h3>Call us</h3>
            <p>+62 1234 2541</p>
        </div>

        <div class="box">
            <img src="images/footer-4.png" alt="">
            <h3>Opening hours</h3>
            <p>Monday - Friday: 8:00 - 24:00
               <br> Saturday: 8:00 - 23:00</p>
        </div>

    </div>

    <div class="credit">created by <span>ROHA AREEJ</span> | all rights reserved! </div>

</section>